@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');

body {
    height: 100vh;
    margin: 0;
    background-color: #222;
    font-family: 'Open Sans', sans-serif;
    background-image: url('https://source.unsplash.com/1600x900/?cracow');
    background-size: cover;
}

#root {
  text-align: -webkit-center;
  padding-top: 20%;
  margin: 0 10px;
}

.App {
    background: #000000c0;
    color: white;
    padding: 2em;
    border-radius: 30px;
    max-width: 420px;
    margin: 1em;
}

input.search-bar {
    margin: 0.5em;
    border-radius: 25px;
    padding: 2px 15px;
    height: 40px;
    width: (100% - 200px);
    width: calc(100% - 100px);
    font-family: inherit;
    border: none;
    outline: none;
    background: #7c7c7c2b;
    color: white;
}

button {
    margin: 0.5em;
    border-radius: 25px;
    border: none;
    height: 40px;
    width: 40px;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
}

button:hover {
  background: #696969;
  transition: 0.2s ease-in-out;
}

.flex {
  display: flex;
  align-items: center;
}

.temp {
  font-size: 2.7em;
}

.weather {
  text-align: left;
}